@import url(footer.css);

@import url(whatsapp.css);
@import url(menu.css);
.contenedor-flex{
	display: flex;
	background: #033249;
}
	


.contenedor  article a{
	margin:0 10px;
	color: white;
	border-radius: 0%;
	background: #033249;
	font-size: 1.2em;
	cursor: pointer;
	text-decoration: none;
}
.contenedor article a:hover{
	background: #ff8038;


}
.contenedor-flex .contenedor{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	margin-top: 100px;
	flex-flow: row wrap;

}
article {
    background: white;
    border-radius:50%;
}
.contenedor article img{
	width: 100%;
	height: 100%;
	border-radius: 40%;
	border: 6px solid white ;
	max-width: 480px;
	min-width: 250px;


}
.contenedor article h3{
	border: 3px double #ff8038;
	cursor: pointer;
	color: #BCB8B7;
}




.contenedor article {
	justify-content: space-between;
	line-height: 50px;
}
article h3{
	font-family: 'Bangers', cursive;
	font-size: 2em;
}
.contenedor article h3{
    border: 3px double #033249;
    cursor: pointer;
    color: #033249;
   
}
@media(min-width: 1024px){
	.contenedor article h3:hover{
		background:#ff8038;
		color: white;
	}
	.contenedor  article a:hover{
		color: #033249;
		background: #ff8038;
		
	}

}
@media(max-width: 460px){
	.contenedor article h3{
		
		color: #033249;
		font-size: 1.4em;
	}
	.contenedor  article a{
		color: #033249;
		background: #ff8038;
		
	}

}
