@import url(whatsapp.css);
*{
	box-sizing: border-box;
}
body{
	background: #033249;
	margin: 0;
	font-family: monospace;
}
header{
	width: 100%;
	height: 53px;
	background: #002e47;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

h1{
	float: left;
}
header .contenedor{
	display: table;
	width: 100%;
}
#menu-bar{
	display: none;
}
header label{
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}
.menu{
	
	position: absolute;
	top: 10;
	left: 0;
	width: 100%;
	height: 80vh;
	background: rgba(3,50,73,0.8);
	transition: all 0.5s;
	transform: translateX(-100%);
	text-align: center;
}
.menu a{
	display: block;
	color: white;
	height: 53px;
	text-decoration: none;
	padding: 15px;
	border-bottom:1px solid rgba(4, 0, 73,1);
	background:#002e47;
	font-family: 'Jost', sans-serif;
	font-size: 1.2em;
}
.menu a:hover{
	background: #ff8038;
	color:white;
}
#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}
@media(min-width: 1024px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;


	}
	.menu a{
		border:none;
	}
	header label{
		display: none;
	}
}	
footer{
	padding: 42px 0;
	background-color: #fff;
}
footer .sociales{
	text-align: center;
	padding-bottom: 25px;
	color:#4b4c4d;

}
footer .sociales a img{
	font-size: 24px;
	color:inherit;
	
	width: 40px;
	height: 40px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	
	margin: 0 8px;
	opacity: 0.8;
}
footer .sociales img:hover{
	opacity: 1;

}
footer ul{
	margin-top:0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;

}
footer ul li{
	display: inline-block;
	padding: 0 15px;
}
footer .copy{
	margin-top:15px;
	text-align: center;
	font-size: 25px;
	color:#aaa;
}
main{

	margin-top: 50px;
	text-align: center;
	padding: 30px 30px;
	display: flex;
	flex-flow: wrap column;
	 align-items: center;

}
main  h1  {
    text-align: center;
    font-size: 3em;
    border-bottom:  2px solid white ;
    border-radius: 10px;


}
main h2,h3{
	font-family: 'Bangers', cursive;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:7px solid #ff8038;
}
.cajapadre{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 900px;
	min-width: 200px;
	border-right:  6px solid #ff8038;
	border-left:  6px solid #ff8038;

}
.cajapadre h1{
	font-family: 'Bangers', cursive;
}
.cajapadre img{
	width: 100%;
	height: 100%;
	max-width: 500px;
	object-fit: cover;
	border-radius: 40%;
	border:6px solid white;
}

@media (min-width: 1200px){
	.cajapadre h1{
		font-size: 3em;

	}
	.cajapadre h2{
		font-size: 2em;

	}
	.cajapadre p{
		font-size: 1.7em;
	}
	.cajapadre h3{
		font-size: 2em;

	}
}
@media (min-width: 768px){
	.cajapadre h1{
		font-size: 2.5em;

	}
	.cajapadre h2{
		font-size: 1.5em;

	}
	.cajapadre p{
		font-size: 1.5em;
		font-family: 'Lobster Two', cursive;
	}
	.cajapadre h3{
		font-size: 1.5em;

	}
}