@import url(menu.css);
@import url(footer.css);
@import url(whatsapp.css);
*{
	box-sizing: border-box;
}
body{
	background: white;
	margin: 0;
	font-family: monospace;
}
header{
	width: 100%;
	height: 53px;
	background: #002e47;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

h1{
	float: left;
}
header .contenedor{
	display: table;
	width: 100%;
}
#menu-bar{
	display: none;
}
header label{
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer;
}
.menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background: rgba(3,50,73,0.8);
	transition: all 0.5s;
	transform: translateX(-100%);
}
.menu a{
	display: block;
	color: white;
	height: 53px;
	text-decoration: none;
	padding: 15px;
	border-bottom:1px solid rgba(4, 0, 73,1);
	background:#002e47;
	font-family: 'Jost', sans-serif;
	font-size: 1em;
}
.menu a:hover{
	background: #ff8038;
	color:white;
}
#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}
@media(min-width: 1024px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;


	}
	.menu a{
		border:none;
	}
	header label{
		display: none;
	}
}	
footer{
	padding: 42px 0;
	background-color: #fff;
}
footer .sociales{
	text-align: center;
	padding-bottom: 25px;
	color:#4b4c4d;

}
footer .sociales a img{
	font-size: 24px;
	color:inherit;
	
	width: 40px;
	height: 40px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	
	margin: 0 8px;
	opacity: 0.8;
}
footer .sociales img:hover{
	opacity: 1;

}
footer ul{
	margin-top:0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
	text-align: center;

}
footer ul li{
	display: inline-block;
	padding: 0 15px;
}
footer .copy{
	margin-top:15px;
	text-align: center;
	font-size: 25px;
	color:#aaa;
}
.cajahijo{
	display: flex;
	flex-flow: wrap column;
	padding: 30px;
	text-align: center;
	font-size: 1.3em;
	background: white;
	border-radius: 15%;
	padding: 10px;
	border: 4px solid #ff8038;
	margin: 40px 40px;
	max-width: 800px;
	min-width: 100px;

}
main{
	display: flex;
	flex-flow: wrap column;
	margin-top: 100px;
	align-items: center;
	min-width: 200px;
	min-width: 100px;
	align-items: center;
}
main h2,h1{
	text-align: center;
	float: none;
	font-family: 'Titan One', cursive;
}
.cajahijo ul li,p{
	list-style: none;
	font-family: 'Indie Flower', cursive;
}
@media(min-width: 1024px){
	.cajahijo ul li,p{
	font-size: 1.5em;
}
main h2,h1{
	font-size: 2.5em;
}
}
@media(max-width:450px){
	.cajahijo ul li,p{
	font-size: 0.7em;
}
main h2,h1{
	font-size: 1em;
}
}