@import url(whatsapp.css);
@import url(menu.css);
@import url(footer.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenedor1 article a{
	margin-top: 10px;
	background: black;
	color: white;
	font-size: 1.2em;
	
}
.contenedor1 article a:hover{
	background: #ff8038;
}
.contenedor-flex{
    display: flex;
    background: #033249;

    


}
.contenedor-flex .contenedor{
   
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    flex-flow: row wrap;
    width: 100%;

}
article {
    background: #ff8038;
    border-radius:30%;
}
.contenedor article img{
    width: 100%;
    height: 100%;
    border-radius: 30%;
    border: 6px solid white ;
    max-width: 490px;
    min-width: 270px;
    min-height: 280px;
    object-fit: cover;
   
    margin-top: 30px;


}
.contenedor article h3{
    border: 3px double #033249;
    cursor: pointer;
    color: #033249;
   
}
article a h3{
    text-decoration: none;
}



.contenedor article {
    justify-content: space-between;
    line-height: 50px;
}
article h3{
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
}
.cajahijo p{
    padding: 200px;
}
@media(min-width: 1024px){
    .contenedor article h3:hover{
        background: white;
        color: #ff8038;
    }

}
@media(max-width: 460px){
    .contenedor article h3{
        font-size: 1.3em;
    }

}

